
a {
    color: #1874DE;
    font-weight: bold;
    cursor: pointer;
}

a:link {
	text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}


html, body, #main {
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background: #D1EAF3;
    
    font-family: Tahoma;
}

#header, #footer, #content-wrapper {
    position: absolute;
    width: 100%;
    border: 1px solid;
    margin: -1px;
}

#header-searchbar, #logo {
    float: left;
}

#logo {
    margin-right: 20px;
    height: 40px;
    width: 274px;
}

#header-searchbar {
    margin-top: 9px;
}

#language {
    float: right;
    margin: 9px 15px 0 0;
}

#login {
    float: right;
    margin: 11px 10px 0 0;
}

#header {
    top: 0;
    padding: 2px 2px;
    height: 41px;
}

#footer {
    background-color: #ADD8E6;
    bottom: 0;
    height: 200px;
}

#footer #about {
    text-align: center;
    font-size: 80%;
    background-color: gray;
    height: 10%;
}

#footer #cart {
    height: 90%;
}

#content-wrapper {
    top: 46px;
    bottom: 201px;
}

#content, #sidebar {
    position: absolute;
}

#content {
    height: 100%;
    border: 1px solid;
    margin: -1px;
    left: 200px;
    right: 0;
}

#sidebar {
    padding: 5px 5px;
    width: 190px;
}

#sidebar ul {
    margin: 3px 5px;
    padding: 0;
}

#sidebar ul li {
    list-style-type: none;
}

#main {
   /* visibility: hidden; */
}

#main-searchbar {
    margin: 100px 0 0 20%;
    width: 631px;
}

#main-searchbar #main-search {
    width: 79%;
}

#main-searchbar #main-dosearch {
    width: 19%;
}

.list {
    height: 84%;
    overflow: auto;
}

.list-header {
    text-align: right;
    
    height: 8%;
    border-bottom: 1px solid;
}

.list-footer {
    text-align: right;
    height: 8%;
    border-top: 1px solid;
}

#search-results {
    height: 100%;
}

.list table {
    width: 100%;
    border: 0;
}

.list table thead, tfoot {
    text-align: right;
}

.list table td {
    padding: 4px;
    border: 1px solid;
}

.list .item-rank, .item-add, .item-price, .item-pic {
    text-align: center;
}

.list .item-pic {
    width: 80px;
    text-align: center;
}

.list .item-rank, .item-add {
    width: 3em;
}

.list .item-price {
    width: 5em;
}

.list .item-pic img {
    height: 75px;
    width: 75px;
}

#cart-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.hlist {
    width: 100%;
    height: 100%;
}

.hlist .hlist-item {
    float: left;
    width: 10%;
    height: 100%;
    text-align: center;
    border: 1px solid;
}

.hlist .hitem-pic {
    height: 75px;
    width: 75px;
}

.hlist .hitem-desc {
    display: block;
}

.template {
    visibility: hidden;
}
