
div {
    border: 1px solid;
    margin: -2px -2px;
}

html, body, #main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

#header, #footer, #content-wrapper {
    position: absolute;
    width: 100%;
}

#header {
    top: 0;
    height: 30px;
}

#footer {
    bottom: 1px;
    height: 30px;
}

#content-wrapper {
    top: 31px;
    bottom: 31px;
}

#content, #sidebar {
    position: absolute;
    height: 100%;
}

#content {
    left: 200px;
    right: 0;
}

#sidebar {
    width: 200px;
}

#cart {
    visibility: hidden;
    position: absolute;
    bottom: 1px;
    left: 200px;
    right: 0;
    background-color: #0011FF;
    height: 200px;
}

#content-searchbar {
    width: 60%;
    margin-left: 20%;

    padding: 10px;
    background-color: #FF00FF;
    /* Searchbar vertical position is adjusted in load.js */
}

